<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Books</h1>
    <form action="/books/{{operator}}" method="POST">
        <label for="writer">Writer:</label>
        <select name="writer">
            <option value="" disabled selected>Writer</option>
            {% for i in writers%}
            <option value="{{i[2]}}">{{i[0]+" " +i[1]}}</option>
            {%endfor%}
        </select>
        <label for="category">Category:</label>
        <select name="category">
            <option value="" disabled selected>Category</option>
            {% for i in categories%}
            <option value="{{i[1]}}">{{i[0]}}</option>
            {%endfor%}

        </select>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="no_copies">Minimum number of Copies:</label>
        <input type="number" id="no_copies" name="no_copies" >
        <input type="submit" name="search" value="Search">
    </form>
    <table>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>No. of Copies</th>
            <th>Writers</th>
            <th>Category</th>
        </tr>
        {% for book in books_data %}
            <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[0] }}</td>
                <td>{{ book[4] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>
                    <form action="/books/{{operator}}" method="POST">
                        
                        <button type="submit" name="edit" value="{{book[0]}}">edit</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
